/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*--------------------------------------------------------------------- basic ---------------------------------------------------------------------*/
 body {
     color: #666666;
     font-size: 14px;
     font-family: 'poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 *, *::after, *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 button:focus {
     outline: none;
}
 ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}
 p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}
 a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 img {
     max-width: 100%;
     height: auto;
}
 :focus {
     outline: 0;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

/*---------------------------- preloader area ----------------------------*/
 .loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .loader img {
     width: 280px;
}
/*--------------------------------------------------------------------- header ---------------------------------------------------------------------*/
 header {
     min-height: 90px;
     background: #212020;
     padding: 15px 0;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 998;
}
 header .container-fluid {
     max-width: 1850px;
}
 .right_header_info {
     width: 100%;
     float: left;
     padding: 20px 0 0;
}
 .right_header_info ul {
     list-style: none;
     padding: 0;
     margin: 0;
     float: right;
}
 .right_header_info ul li {
     display: inline;
     font-size: 16px;
     margin-left: 45px;
     color: #eaeaea;
     font-weight: 400;
     float: left;
}
 .right_header_info ul li a {
     color: #eaeaea;
     font-weight: 300;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 35px;
     text-align: center;
     line-height: 35px;
     position: relative;
     top: -3px;
     padding: 0 15px;
     margin: 0 2px;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 40px;
     text-align: center;
     line-height: 38px;
     position: relative;
     top: -7px;
     padding: 0 15px;
     margin: 0 2px;
     border: solid #eaeaea 1px;
}
 .button_user a:hover, .button_user a:focus, .button_user a.active {
     background: #e3d105;
     color: #fff;
     border-color: #e3d105;
     color: #222;
}
 #sidebarCollapse {
     background: transparent;
}
 .slider_section {
     background: #212020;
     min-height: 100vh;
     padding-top: 93px;
}
/** slider section **/
 #main_slider {
     padding: 90px 0 30px;
}
 .slider_section .container {
     width: 100%;
     max-width: 1920px;
}
 .vert .carousel-item-next.carousel-item-left, .vert .carousel-item-prev.carousel-item-right {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
}
 .vert .carousel-item-next, .vert .active.carousel-item-right {
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100% 0);
}
 .vert .carousel-item-prev, .vert .active.carousel-item-left {
     -webkit-transform: translate3d(0,-100%, 0);
     transform: translate3d(0,-100%, 0);
}
 .slider_cont {
     padding-left: 190px;
     float: left;
     margin: 100px 0 0;
}
 .slider_cont h3 {
     font-size: 70px;
     font-weight: 600;
     color: #fff;
     line-height: 70px;
     letter-spacing: -2px;
}
 .slider_cont p {
     font-size: 18px;
     color: #999;
     line-height: normal;
     font-weight: 300;
     margin-top: 15px;
     margin-bottom: 10px;
     padding-right: 30px;
}
 #main_slider .carousel-control-prev, #main_slider .carousel-control-next {
     width: 65px;
     height: 65px;
     background: #e1e0e0;
     opacity: 1;
     font-size: 30px;
     color: #212020;
     border-radius: 100%;
}
 #main_slider a.carousel-control-prev {
     position: absolute;
     left: 50px;
     top: 42%;
}
 #main_slider a.carousel-control-next {
     position: absolute;
     left: 50px;
     top: 52%;
}
 .main_bt_border {
     color: #fff;
     font-size: 15px;
     font-weight: 300;
     min-width: 150px;
     border: solid #fff 1px;
     float: left;
     text-align: center;
     min-height: 50px;
     line-height: 50px;
     margin-top: 20px;
}
 .main_bt_border:hover, .main_bt_border:focus {
     background: #e3d105;
     border-color: #e3d105;
     color: #222;
}
 .theme_color {
     color: #f8c90d !important;
}
.resip_section {
    background: #212020;
    margin-top: 0;
    padding: 60px 0px 50px 0px;
    border-top: solid rgba(255,255,255,.1) 1px;
    box-shadow: inset 0 10px 30px -16px #000;
}
 .ourheading h2 {
    font-size: 45px;
     font-weight: 500;
     line-height: 40px;
     color: #fff;
     padding-bottom: 38px;
}
 .product_blog_cont {
     text-align: center;
     padding-top: 20px;
}
 .product_blog_cont h3 {
     color: #fff;
     font-size: 22px;
     font-weight: 400;
     text-align: center;
}
 .product_blog_cont h4 {
     color: #fff;
     font-size: 18px;
}
 .bgbg {
    font-size: 33px !important;
}

/*--------------------------------------------------------------------- footer ---------------------------------------------------------------------*/
 .footer {
     background: #212121;
     padding-top: 100px;
     margin-top: 0px;
}
.footer h3 {
     text-align: center;
     size: 100px;
     color: white;
}

table, th, td {
     color: #999;
     width: 800px;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid white;
     
     border-collapse: collapse;
   }
 .copyright {
    background: white;
     margin-top: 90px;
}
 .copyright p {
    color: #212121;
     text-align: center;
     padding: 25px 0px;
     font-size: 17px;
}
 .copyright a:hover {
    color: #d8b00f;
}

/* --------------------------------------------------- SIDEBAR STYLE ----------------------------------------------------- */
 #sidebar {
     width: 280px;
     position: fixed;
     top: 0;
     left: -280px;
     height: 100vh;
     z-index: 999;
     background: #fff;
     color: #fff;
     transition: all 0.3s;
     overflow-y: scroll;
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
 #sidebar.active {
     left: 0;
}
 #dismiss {
     width: 35px;
     height: 35px;
     line-height: 34px;
     text-align: center;
     background: #111;
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
     -webkit-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}
 #dismiss:hover {
     background: #111;
     color: #fff;
}
 .overlay {
     display: none;
     position: fixed;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.7);
     z-index: 998;
     opacity: 0;
     transition: all 0.5s ease-in-out;
}
 .overlay.active {
     display: block;
     opacity: 1;
}
 #sidebarCollapse {
     background: transparent;
     padding: 0;
     border: none;
}
 #sidebar .sidebar-header {
     padding: 20px;
     background: #6d7fcc;
}
 #sidebar ul.components {
     padding: 55px 0;
}
 #sidebar ul p {
     color: #fff;
     padding: 10px;
}
 #sidebar ul li a {
     padding: 10px 25px;
     font-size: 1.3em;
     display: block;
     font-weight: 300;
}
 #sidebar ul li a:hover {
     color: #fff;
     background: #d8b00f;
}
 #sidebar ul li.active > a, a[aria-expanded="true"] {
     color: #fff;
     background: #212121;
}
 a[data-toggle="collapse"] {
     position: relative;
}
 .dropdown-toggle::after {
     display: block;
     position: absolute;
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
}

/*--------------------------------------------------------------------- ener page css ---------------------------------------------------------------------*/
 .bg_bg {
    background: url(../images/bg.jpg);
}
 .yellow_bg {
     background-color: #e3d105;
     padding: 40px 0px;
     margin-top: 90px;
}
 .yellow_bg .title {
     padding-bottom: 0px;
     text-align: center;
}
 .about_page .footer {
    margin-top: 0px;
}
 